# 编辑器文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 操作系统文件
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# 构建文件
build/
dist/

# 临时文件
tmp/
temp/
*.log 